[user]
	email = v.schneidermann@gmail.com
	name = Vasilij Schneidermann
[core]
	autocrlf = input
	safecrlf = true
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	p = push origin master
