body {
  margin: 0 auto !important;
  width: 40em !important;
  font-family: serif !important;
  font-size: 1.3em !important;
}

p {
  text-align: justify !important;
}

img {
  max-width: 40em !important;
}
